body {
    background-image: url("https://miro.medium.com/v2/resize:fit:1400/1*nyU2IcNL3TVxZ_GPkkmt2g.png");

    background-size: cover;
    background-repeat: repeat-x;
    background-size: 18%;

}
